@model IEnumerable<PgClientApplication.Models.Book>

@{
    ViewData["Title"] = "GetBookingItems";
}

<h1>Booking Details</h1>

<p>
    <h4>Booking Details</h4>
    <h5>Here is your Booking Details Mr./Mrs @ViewBag.Username.</h5>
    <h6>Thanks for choosing our service.</h6>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pg_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_ofMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pg_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_ofMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
           
        </tr>
}
    </tbody>
</table>
