@model IEnumerable<PgClientApplication.Models.Pg>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn-success" href="@Url.Action("GetBookingItems","PgList")">Booking Details</a>

</p>
<p>
    <a class="btn btn-danger align-content-end" href="@Url.Action("Logout","Login")">Logout</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pg_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rent_per_month)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pg_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rent_per_month)
                </td>
                <td>

                    <a class="btn btn-success" href="@Url.Action("Book","PgList",new { id = item.pg_id })">Book</a>

                </td>
            </tr>
        }
    </tbody>
</table>
